body {
  margin: 0px;
  padding: 0px;
  color: rgb(85, 85, 85);
  --light-grey: #dadce0;
  --red: #ff3c39;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
}

#calendarContainer {
  width: 100%;
  height: 25vh;
  padding-top: ;
}

#weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 50px;
}

#dayHeader {
  background-color: var(--light-grey);
  text-align: center;
  padding-top: 10px;
  font-size: 1em;
  height: 40px;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;
  min-height: 300px;
}

.day {
  border-bottom: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  text-align: center;
  padding-top: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
}

.weekend {
  color: var(--red);
}

.selected {
  background-color: var(--red);
  color: #fff;
}

.unavailable {
  background-color: var(--light-grey);
  cursor: default;
  color: rgba(1, 1, 1, 0);
}
